* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
}

body {
  background-color: lightsteelblue;
  text-align: center;
}

.container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1vmin;
}

.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  font-size: 9vmin;
  color: rgb(48, 36, 128);
  background-color: rgb(241, 235, 199);
}

#reset-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color:rgb(106, 34, 34);
  color: white;
  border-radius: 1rem;
  border: none;
}

#new-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color:purple;
  color:white;
  border-radius: 1rem;
  border: none;
}

#msg {
  color:midnightblue;
  font-size: 5vmin;
  background-color: rgb(241, 235, 199);
  border-radius: 4rem;
  padding: 1rem;
}

.msg-container {
  height: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.hide {
  display: none;
}
.font-color {
  color: brown;
}